/hw74/terraform/demo/.terraform/providers/registry.terraform.io/hashicorp/fakewebservices/0.2.3/linux_amd64/terraform-provider-fakewebservices_v0.2.3_x5
/hw74/terraform/demo/.terraform/providers/registry.terraform.io/hashicorp/aws/3.72.0/linux_amd64/terraform-provider-aws_v3.72.0_x5
